<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.carpay.ParkPayOrderDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.carpay.ParkPayOrder">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pro_num" jdbcType="VARCHAR" property="proNum"/>
        <result column="park_order_no" jdbcType="VARCHAR" property="parkOrderNo"/>
        <result column="card_cst_batch_id" jdbcType="VARCHAR" property="cardCstBatchId"/>
        <result column="car_code" jdbcType="VARCHAR" property="carCode"/>
        <result column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId"/>
        <result column="cst_code" jdbcType="VARCHAR" property="cstCode"/>
        <result column="cst_name" jdbcType="VARCHAR" property="cstName"/>
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount"/>
        <result column="amount_total" jdbcType="INTEGER" property="amountTotal"/>
        <result column="ip_item_name" jdbcType="VARCHAR" property="ipItemName"/>
        <result column="transaction_id" jdbcType="VARCHAR" property="transactionId"/>
        <result column="trade_type" jdbcType="VARCHAR" property="tradeType"/>
        <result column="trade_state" jdbcType="VARCHAR" property="tradeState"/>
        <result column="trade_state_desc" jdbcType="VARCHAR" property="tradeStateDesc"/>
        <result column="bank_type" jdbcType="VARCHAR" property="bankType"/>
        <result column="success_time" jdbcType="VARCHAR" property="successTime"/>
        <result column="is_deduction" jdbcType="INTEGER" property="isDeduction"/>
        <result column="deduction_num" jdbcType="INTEGER" property="deductionNum"/>
        <result column="in_time" jdbcType="VARCHAR" property="inTime"/>
        <result column="out_time" jdbcType="VARCHAR" property="outTime"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, pro_num, park_order_no, card_cst_batch_id, car_code, wx_open_id, cst_code, cst_name, pay_amount, amount_total, ip_item_name,transaction_id,trade_type,
        trade_state, trade_state_desc, bank_type, success_time, is_deduction, deduction_num, in_time, out_time, order_status, create_time, update_time, create_by, update_by, delete_flag
    </sql>

    <!-- 根据key查询-->
    <select id="getById" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_park_pay_order
        where delete_flag = 0 and id = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 根据订单号与付款状态查询订单-->
    <select id="getParkPayOrder" resultMap="BaseMap" parameterType="com.ej.hgj.vo.carpay.CarPayOrderStatusVo" >
        select
        <include refid="Base_Column_List" />
        from t_park_pay_order
        where delete_flag = 0
        and id = #{id,jdbcType=VARCHAR}
        and order_status in
        <foreach collection="orderStatusList" item="orderStatus" index="index" open="(" close=")" separator=",">
            #{orderStatus,jdbcType=INTEGER}
        </foreach>
    </select>

    <!-- 查询5分钟前支付中订单-->
    <select id="getOrderList_1" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_park_pay_order
        where delete_flag = 0
        and order_status = 1
        and DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s' ) &lt;= #{beForTenMin,jdbcType=VARCHAR}
    </select>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.carpay.ParkPayOrder">
        select
        <include refid="Base_Column_List" />
        from t_park_pay_order
        where delete_flag = 0 and order_status in (1,2)
        <if test="proNum != null">
            and pro_num = #{proNum,jdbcType=VARCHAR}
        </if>
        <if test="wxOpenId != null">
            and wx_open_id = #{wxOpenId,jdbcType=VARCHAR}
        </if>
        <if test="cstCode != null">
            and cst_code = #{cstCode,jdbcType=VARCHAR}
        </if>
        order by update_time desc
    </select>

    <!-- 保存-->
    <insert id="save" parameterType="com.ej.hgj.entity.carpay.ParkPayOrder" >
        insert into  t_park_pay_order(
        <if test="id != null">
            id,
        </if>
        <if test="proNum != null">
            pro_num,
        </if>
        <if test="parkOrderNo != null">
            park_order_no,
        </if>
        <if test="cardCstBatchId != null" >
            card_cst_batch_id,
        </if>
        <if test="carCode != null" >
            car_code,
        </if>
        <if test="wxOpenId != null">
            wx_open_id,
        </if>
        <if test="cstCode != null">
            cst_code,
        </if>
        <if test="cstName != null">
            cst_name,
        </if>
        <if test="payAmount != null">
            pay_amount,
        </if>
        <if test="amountTotal != null">
            amount_total,
        </if>
        <if test="ipItemName != null">
            ip_item_name,
        </if>
        <if test="transactionId != null">
            transaction_id,
        </if>
        <if test="tradeType != null">
            trade_type,
        </if>
        <if test="tradeState != null">
            trade_state,
        </if>
        <if test="tradeStateDesc != null">
            trade_state_desc,
        </if>
        <if test="bankType != null">
            bank_type,
        </if>
        <if test="successTime != null">
            success_time,
        </if>
        <if test="isDeduction != null">
            is_deduction,
        </if>
        <if test="deductionNum != null">
            deduction_num,
        </if>
        <if test="inTime != null">
            in_time,
        </if>
        <if test="outTime != null">
            out_time,
        </if>
        <if test="orderStatus != null">
            order_status,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="createBy != null">
            create_by,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="updateBy != null">
            update_by,
        </if>
        <if test="deleteFlag != null">
            delete_flag
        </if>
        )
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="proNum != null" >
                #{proNum,jdbcType=VARCHAR},
            </if>
            <if test="parkOrderNo != null" >
                #{parkOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="cardCstBatchId != null" >
                #{cardCstBatchId,jdbcType=VARCHAR},
            </if>
            <if test="carCode != null" >
                #{carCode,jdbcType=VARCHAR},
            </if>
            <if test="wxOpenId != null" >
                #{wxOpenId,jdbcType=VARCHAR},
            </if>
            <if test="cstCode != null" >
                #{cstCode,jdbcType=VARCHAR},
            </if>
            <if test="cstName != null" >
                #{cstName,jdbcType=VARCHAR},
            </if>
            <if test="payAmount != null" >
                #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="amountTotal != null" >
                #{amountTotal,jdbcType=INTEGER},
            </if>
            <if test="ipItemName != null" >
                #{ipItemName,jdbcType=VARCHAR},
            </if>
            <if test="transactionId != null" >
                #{transactionId,jdbcType=VARCHAR},
            </if>
            <if test="tradeType != null" >
                #{tradeType,jdbcType=VARCHAR},
            </if>
            <if test="tradeState != null" >
                #{tradeState,jdbcType=VARCHAR},
            </if>
            <if test="tradeStateDesc != null" >
                #{tradeStateDesc,jdbcType=VARCHAR},
            </if>
            <if test="bankType != null" >
                #{bankType,jdbcType=VARCHAR},
            </if>
            <if test="successTime != null" >
                #{successTime,jdbcType=VARCHAR},
            </if>
            <if test="isDeduction != null" >
                #{isDeduction,jdbcType=INTEGER},
            </if>
            <if test="deductionNum != null" >
                #{deductionNum,jdbcType=INTEGER},
            </if>
            <if test="inTime != null" >
                #{inTime,jdbcType=VARCHAR},
            </if>
            <if test="outTime != null" >
                #{outTime,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null" >
                #{orderStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <!-- 更新-->
    <update id="update" parameterType="com.ej.hgj.entity.carpay.ParkPayOrder" >
        update
        t_park_pay_order
        <set>
            <if test="transactionId != null">
                transaction_id = #{transactionId,jdbcType=VARCHAR},
            </if>
            <if test="tradeType != null">
                trade_type = #{tradeType,jdbcType=VARCHAR},
            </if>
            <if test="tradeState != null">
                trade_state = #{tradeState,jdbcType=VARCHAR},
            </if>
            <if test="tradeStateDesc != null">
                trade_state_desc = #{tradeStateDesc,jdbcType=VARCHAR},
            </if>
            <if test="bankType != null">
                bank_type = #{bankType,jdbcType=VARCHAR},
            </if>
            <if test="successTime != null">
                success_time = #{successTime,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>
