<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.config.ConstantConfDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.config.ConstantConfig">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="project_num" jdbcType="VARCHAR" property="projectNum"/>
        <result column="config_key" jdbcType="VARCHAR" property="configKey"/>
        <result column="config_value" jdbcType="VARCHAR" property="configValue"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, project_num, config_key, config_value, app_id, app_secret, create_time, update_time, create_by,
        update_by, delete_flag
    </sql>

    <!-- 根据key查询-->
    <select id="getByKey" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_constant_config
        where delete_flag = 0 and config_key = #{configKey}
    </select>

    <!-- 根据项目号跟key查询-->
    <select id="getByProNumAndKey" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_constant_config
        where delete_flag = 0 and project_num = #{proNum} and config_key = #{configKey}
    </select>

    <!-- 更新-->
    <update id="update" parameterType="com.ej.hgj.entity.config.ConstantConfig" >
        update
        t_constant_config
        <set>
            <if test="configValue != null">
                config_value = #{configValue,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where config_key=#{configKey,jdbcType=VARCHAR}
    </update>

</mapper>