<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smp.dao.test.TestDaoMapper">
    <!-- 根据主键查询-->
    <select id="getById" resultType="com.example.smp.entity.test.TestEntity" parameterType="java.lang.Integer" >
        select  *
        from t_student
        where id = #{id}
    </select>

    <!-- 查询列表-->
    <select id="getList" resultType="com.example.smp.entity.test.TestEntity" >
        select  * from t_student order by id desc
    </select>

    <!-- 保存-->
    <insert id="save" parameterType="com.example.smp.entity.test.TestEntity" >
        insert into  t_student(
        <if test="name != null">
            `name`,
        </if>
        <if test="age != null">
            `age`
        </if>
        )
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                #{age,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!-- 更新-->
    <update id="update" parameterType="com.example.smp.entity.test.TestEntity" >
        update t_student set `name`=#{id}, `age`=#{age} where id=#{id}
    </update>
    <!-- 删除-->
    <update id="delete" parameterType="java.lang.Integer" >
        delete from t_student where id=#{id}
    </update>
</mapper>