<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.gonggao.GonggaoTypeDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.gonggao.GonggaoType">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, `name`, img_url, create_time, update_time, create_by,
        update_by, delete_flag
    </sql>

    <!-- 根据主键查询-->
    <select id="getById" resultMap="BaseMap" parameterType="java.lang.String" >
        select
            <include refid="Base_Column_List" />
        from t_gonggao_type
        where id = #{id}
    </select>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.gonggao.GonggaoType">
        select
        <include refid="Base_Column_List" />
        from t_gonggao_type
        where delete_flag = 0
        <if test="name != null">
            and `name` like CONCAT('%', #{name,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        order by update_time desc
    </select>

    <!-- 保存-->
    <insert id="save" parameterType="com.ej.hgj.entity.gonggao.GonggaoType" >
        insert into  t_gonggao_type(
        <if test="id != null">
            id,
        </if>
        <if test="name != null">
            `name`,
        </if>
        <if test="imgUrl != null">
            img_url,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="createBy != null">
            create_by,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="updateBy != null">
            update_by,
        </if>
        <if test="deleteFlag != null">
            delete_flag
        </if>
        )
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null" >
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <!-- 更新-->
    <update id="update" parameterType="com.ej.hgj.entity.gonggao.GonggaoType" >
        update
        t_gonggao_type
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id=#{id,jdbcType=VARCHAR}
    </update>

    <!-- 删除-->
    <update id="delete" parameterType="java.lang.String" >
        delete from t_gonggao_type where id=#{id}
    </update>

</mapper>
