<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.active.CouponQrCodeDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.active.CouponQrCode">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pro_num" jdbcType="VARCHAR" property="proNum"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="exp_date" jdbcType="VARCHAR" property="expDate"/>
        <result column="start_time" jdbcType="BIGINT" property="startTime"/>
        <result column="end_time" jdbcType="BIGINT" property="endTime"/>
        <result column="card_no" jdbcType="VARCHAR" property="cardNo"/>
        <result column="coupon_id" jdbcType="VARCHAR" property="couponId"/>
        <result column="qr_code_content" jdbcType="VARCHAR" property="qrCodeContent"/>
        <result column="neigh_no" jdbcType="VARCHAR" property="neighNo"/>
        <result column="address_num" jdbcType="VARCHAR" property="addressNum"/>
        <result column="unit_num" jdbcType="VARCHAR" property="unitNum"/>
        <result column="floors" jdbcType="VARCHAR" property="floors"/>
        <result column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId"/>
        <result column="cst_code" jdbcType="VARCHAR" property="cstCode"/>
        <result column="cst_name" jdbcType="VARCHAR" property="cstName"/>
        <result column="res_code" jdbcType="VARCHAR" property="resCode"/>
        <result column="is_expire" jdbcType="INTEGER" property="isExpire"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, pro_num, pro_name, exp_date, start_time, end_time,
        card_no, coupon_id, qr_code_content, neigh_no, address_num, unit_num, floors,
        wx_open_id, cst_code, is_expire, cst_name, create_time,
        update_time, create_by, update_by, delete_flag
    </sql>

    <!-- 查询大于等于当天的二维码生成记录-->
    <select id="getQrCodeByExpDate" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.active.CouponQrCode">
        select
        <include refid="Base_Column_List" />
        from t_coupon_qr_code
        where delete_flag = 0 and is_expire = 1
        <if test="wxOpenId != null">
            and wx_open_id = #{wxOpenId,jdbcType=VARCHAR}
        </if>
        <if test="expDate != null">
            and exp_date = #{expDate,jdbcType=VARCHAR}
        </if>
    </select>

    <!-- 保存-->
    <insert id="save" parameterType="com.ej.hgj.entity.active.CouponQrCode" >
        insert into  t_coupon_qr_code(
        <if test="id != null">
            id,
        </if>
        <if test="proNum != null">
            pro_num,
        </if>
        <if test="proName != null">
            pro_name,
        </if>
        <if test="expDate != null">
            exp_date,
        </if>
        <if test="startTime != null">
            start_time,
        </if>
        <if test="endTime != null">
            end_time,
        </if>
        <if test="cardNo != null">
            card_no,
        </if>
        <if test="couponId != null">
            coupon_id,
        </if>
        <if test="qrCodeContent != null">
            qr_code_content,
        </if>
        <if test="neighNo != null">
            neigh_no,
        </if>
        <if test="addressNum != null">
            address_num,
        </if>
        <if test="unitNum != null">
            unit_num,
        </if>
        <if test="floors != null">
            floors,
        </if>
        <if test="wxOpenId != null">
            wx_open_id,
        </if>
        <if test="cstCode != null">
            cst_code,
        </if>
        <if test="cstName != null">
            cst_name,
        </if>
        <if test="resCode != null">
            res_code,
        </if>
        <if test="isExpire != null">
            is_expire,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="createBy != null">
            create_by,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="updateBy != null">
            update_by,
        </if>
        <if test="deleteFlag != null">
            delete_flag
        </if>
        )
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="proNum != null" >
                #{proNum,jdbcType=VARCHAR},
            </if>
            <if test="proName != null" >
                #{proName,jdbcType=VARCHAR},
            </if>
            <if test="expDate != null" >
                #{expDate,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null" >
                #{startTime,jdbcType=BIGINT},
            </if>
            <if test="endTime != null" >
                #{endTime,jdbcType=BIGINT},
            </if>
            <if test="cardNo != null" >
                #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="couponId != null" >
                #{couponId,jdbcType=VARCHAR},
            </if>
            <if test="qrCodeContent != null" >
                #{qrCodeContent,jdbcType=VARCHAR},
            </if>
            <if test="neighNo != null" >
                #{neighNo,jdbcType=VARCHAR},
            </if>
            <if test="addressNum != null" >
                #{addressNum,jdbcType=VARCHAR},
            </if>
            <if test="unitNum != null" >
                #{unitNum,jdbcType=VARCHAR},
            </if>
            <if test="floors != null" >
                #{floors,jdbcType=VARCHAR},
            </if>
            <if test="wxOpenId != null" >
                #{wxOpenId,jdbcType=VARCHAR},
            </if>
            <if test="cstCode != null" >
                #{cstCode,jdbcType=VARCHAR},
            </if>
            <if test="cstName != null" >
                #{cstName,jdbcType=VARCHAR},
            </if>
            <if test="resCode != null" >
                #{resCode,jdbcType=VARCHAR},
            </if>
            <if test="isExpire != null" >
                #{isExpire,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

</mapper>
