<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.menu.mini.MenuMiniDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.menu.mini.MenuMini">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="fun_name" jdbcType="VARCHAR" property="funName"/>
        <result column="bind_event" jdbcType="VARCHAR" property="bindEvent"/>
        <result column="logo_path" jdbcType="VARCHAR" property="logoPath"/>
        <result column="page_path" jdbcType="VARCHAR" property="pagePath"/>
        <result column="index" jdbcType="INTEGER" property="index"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, fun_name, bind_event, logo_path, page_path, `index`, sort, create_time, update_time, delete_flag
    </sql>
    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.menu.mini.MenuMini">
        select
        <include refid="Base_Column_List" />
        from t_menu_mini
        where delete_flag = 0
        order by sort
    </select>

    <!-- 根据客户编号查询对应菜单权限-->
    <select id="findMenuByCstCode" resultMap="BaseMap"  parameterType="java.lang.String">
        select
            m.*
        from t_cst_menu_mini rm
                 inner join s_cst r on rm.cst_code=r.code
                 inner join t_menu_mini m on rm.menu_id=m.id
        where m.delete_flag = 0
          and rm.cst_code = #{cstCode,jdbcType=VARCHAR}
        order by m.sort
    </select>

    <!-- 根据项目号、wxOpenId查询对应菜单权限-->
    <select id="findMenuByProNumAndWxOpenId" resultMap="BaseMap"  parameterType="java.lang.String">
        select
            c.*
        from t_identity_menu a
                 inner join t_cst_into b on b.into_role = a.identity_code
                 inner join t_menu_mini c on c.id = a.menu_id
        where c.delete_flag = 0
          and a.pro_num = #{proNum,jdbcType=VARCHAR}
          and b.wx_open_id = #{wxOpenId,jdbcType=VARCHAR}
        order by c.sort desc
    </select>

</mapper>
