<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.cst.HgjCstDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.cst.HgjCst">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="Code" jdbcType="VARCHAR" property="code"/>
        <result column="cst_name" jdbcType="VARCHAR" property="cstName"/>
        <result column="cst_type" jdbcType="VARCHAR" property="cstType"/>
        <result column="cst_level" jdbcType="VARCHAR" property="cstLevel"/>
        <result column="is_affect" jdbcType="INTEGER" property="isAffect"/>
        <result column="contract_character" jdbcType="VARCHAR" property="contractCharacter"/>
        <result column="cer_type" jdbcType="VARCHAR" property="cerType"/>
        <result column="cer_no" jdbcType="VARCHAR" property="cerNo"/>
        <result column="lic_no" jdbcType="VARCHAR" property="licNo"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, org_id, code, cst_name, cst_type, cst_level, is_affect, contract_character, cer_type, cer_no, lic_no, mobile, create_time, update_time
    </sql>

    <!-- 根据客户编号-->
    <select id="getByCstCode" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from s_cst
        where code = #{cstCode}
    </select>

    <!-- 删除-->
    <delete id="delete" parameterType="java.lang.String" >
        delete from s_cst
    </delete>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.cst.HgjCst">
        select
        <include refid="Base_Column_List" />
        from s_cst where 1 = 1
        <if test="code != null">
            and code like CONCAT('%', #{code,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="cstName != null">
            and cst_name like CONCAT('%', #{cstName,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="cerNo != null">
            and cer_no = #{cerNo,jdbcType=VARCHAR}
        </if>
        <if test="licNo != null">
            and lic_no = #{licNo,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>