<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.adverts.AdvertsDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.adverts.Adverts">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pro_num" jdbcType="VARCHAR" property="proNum"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="img_path" jdbcType="VARCHAR" property="imgPath"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="is_show" jdbcType="INTEGER" property="isShow"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>

        <result column="adverts_path" jdbcType="VARCHAR" property="advertsPath"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, pro_num, title, img_path, url, is_show, create_time, update_time, create_by,
        update_by, delete_flag
    </sql>

    <!-- 根据主键查询-->
    <select id="getById" resultMap="BaseMap" parameterType="java.lang.String" >
        select
            <include refid="Base_Column_List" />
        from t_adverts
        where id = #{id}
    </select>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.adverts.Adverts">
        select
            a.*,p.project_name as pro_name, ap.adverts_path
        from t_adverts a
            left join t_pro_config p on a.pro_num = p.project_num
            left join t_adverts_path ap on ap.id = a.adverts_path_id and ap.delete_flag = 0
        where a.delete_flag = 0
        <if test="title != null and title != ''">
            and a.title like CONCAT('%', #{title,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="proNum != null and proNum != ''">
            and a.pro_num = #{proNum,jdbcType=VARCHAR}
        </if>
        <if test="isShow != null ">
            and a.is_show = #{isShow,jdbcType=INTEGER}
        </if>
        <if test="startTime != null and startTime != ''">
            and a.create_time >= #{startTime,jdbcType=VARCHAR}
        </if>
        <if test="endTime != null and endTime != ''">
            and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
        </if>
        order by a.update_time desc
    </select>

    <!-- 保存-->
    <insert id="save" parameterType="com.ej.hgj.entity.adverts.Adverts" >
        insert into t_adverts(
        <if test="id != null">
            id,
        </if>
        <if test="proNum != null">
            pro_num,
        </if>
        <if test="title != null">
            title,
        </if>
        <if test="imgPath != null">
            img_path,
        </if>
        <if test="url != null">
            url,
        </if>
        <if test="isShow != null">
            is_show,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="createBy != null">
            create_by,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="updateBy != null">
            update_by,
        </if>
        <if test="deleteFlag != null">
            delete_flag
        </if>
        )
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="proNum != null" >
                #{proNum,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="imgPath != null" >
                #{imgPath,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null" >
                #{isShow,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <!-- 批量插入-->
    <insert id="insertList" parameterType="java.util.List">
        insert into t_adverts (
        id, pro_num, title, img_path, url, is_show, create_time, update_time, create_by,
        update_by, delete_flag
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.proNum,jdbcType=VARCHAR},
            #{item.title,jdbcType=VARCHAR},
            #{item.imgPath,jdbcType=VARCHAR},
            #{item.url,jdbcType=VARCHAR},
            #{item.isShow,jdbcType=INTEGER},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.updateBy,jdbcType=VARCHAR},
            #{item.deleteFlag,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!-- 更新-->
    <update id="update" parameterType="com.ej.hgj.entity.adverts.Adverts" >
        update
        t_adverts
        <set>
            <if test="isShow != null">
                is_show = #{isShow,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="proNum != null">
                pro_num = #{proNum,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="imgPath != null">
                img_path = #{imgPath,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id=#{id,jdbcType=VARCHAR}
    </update>

    <!-- 删除-->
    <update id="delete" parameterType="java.lang.String" >
        update t_adverts set delete_flag = 1 where id=#{id}
    </update>

    <update id="isShow" parameterType="java.lang.String" >
        update t_adverts set is_show = 0 where id=#{id}
    </update>

    <update id="notIsShow" parameterType="java.lang.String" >
        update t_adverts set is_show = 1 where id=#{id}
    </update>

    <update id="notIsShowAll" parameterType="java.lang.String" >
        update t_adverts set is_show = 1 where delete_flag = 0
    </update>

</mapper>
