<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.coupon.CouponGrantDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.coupon.CouponGrant">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="batch_id" jdbcType="VARCHAR" property="batchId"/>
        <result column="coupon_id" jdbcType="VARCHAR" property="couponId"/>
        <result column="tag_id" jdbcType="VARCHAR" property="tagId"/>
        <result column="type_code" jdbcType="VARCHAR" property="typeCode"/>
        <result column="cou_num" jdbcType="INTEGER" property="couNum"/>
        <result column="exp_num" jdbcType="INTEGER" property="expNum"/>
        <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
        <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
        <result column="cst_code" jdbcType="VARCHAR" property="cstCode"/>
        <result column="wx_open_id" jdbcType="INTEGER" property="wxOpenId"/>
        <result column="user_name" jdbcType="INTEGER" property="userName"/>
        <result column="range" jdbcType="INTEGER" property="range"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="tag_name" jdbcType="VARCHAR" property="tagName"/>
        <result column="cst_name" jdbcType="VARCHAR" property="cstName"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="type_name" jdbcType="VARCHAR" property="typeName"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, batch_id, coupon_id, tag_id, type_code, cou_num, exp_num, start_time, end_time, cst_code, wx_open_id, `range`, create_time, update_time, create_by,
        update_by, delete_flag
    </sql>

    <!-- 根据主键查询-->
    <select id="getById" resultMap="BaseMap" parameterType="java.lang.String" >
        select
            <include refid="Base_Column_List" />
        from t_coupon_grant
        where id = #{id}
    </select>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.coupon.CouponGrant">
        select
        g.*,t.name as tag_name,c.cst_name,s.title,i.user_name,p.type_name
        from t_coupon_grant g
        left join t_coupon s on s.id = g.coupon_id
        left join t_tag t on t.id = g.tag_id
        left join s_cst c on c.code = g.cst_code
        left join t_cst_into i on i.wx_open_id = g.wx_open_id and i.into_status = 1
        left join t_coupon_type p on p.type_code = g.type_code
        where g.delete_flag = 0 and t.delete_flag = 0
        <if test="cstName != null">
            and c.cst_name like CONCAT('%', #{cstName,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="title != null">
            and s.title like CONCAT('%', #{title,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="tagId != null and tagId != ''">
            and g.tag_id = #{tagId,jdbcType=VARCHAR}
        </if>
        <if test="couponId != null and couponId != ''">
            and g.coupon_id = #{couponId}
        </if>
        <if test="range != null and range != ''">
            and g.range = #{range}
        </if>
        <if test="cstCode != null and cstCode != ''">
            and g.cst_code = #{cstCode}
        </if>
        <if test="wxOpenId != null and wxOpenId != ''">
            and g.wx_open_id = #{wxOpenId}
        </if>
        order by g.update_time desc
    </select>

    <!-- 保存-->
    <insert id="save" parameterType="com.ej.hgj.entity.coupon.CouponGrant" >
        insert into  t_coupon_grant(
        <if test="id != null">
            id,
        </if>
        <if test="couponId != null">
            coupon_id,
        </if>
        <if test="tagId != null">
            tag_id,
        </if>
        <if test="typeCode != null">
            type_code,
        </if>
        <if test="couNum != null">
            cou_num,
        </if>
        <if test="expNum != null">
            exp_num,
        </if>
        <if test="startTime != null">
            start_time,
        </if>
        <if test="endTime != null">
            end_time,
        </if>
        <if test="cstCode != null">
            cst_code,
        </if>
        <if test="wxOpenId != null">
            wx_open_id,
        </if>
        <if test="range != null">
            `range`,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="createBy != null">
            create_by,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="updateBy != null">
            update_by,
        </if>
        <if test="deleteFlag != null">
            delete_flag
        </if>
        )
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="couponId != null" >
                #{couponId,jdbcType=VARCHAR},
            </if>
            <if test="tagId != null" >
                #{tagId,jdbcType=VARCHAR},
            </if>
            <if test="typeCode != null" >
                #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="couNum != null">
                #{couNum,jdbcType=INTEGER}
            </if>
            <if test="expNum != null">
                #{expNum,jdbcType=INTEGER}
            </if>
            <if test="startTime != null" >
                #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null" >
                #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="cstCode != null" >
                #{cstCode,jdbcType=VARCHAR},
            </if>
            <if test="wxOpenId != null" >
                #{wxOpenId,jdbcType=VARCHAR},
            </if>
            <if test="range != null" >
                #{range,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <!-- 批量插入-->
    <insert id="insertList" parameterType="java.util.List">
        insert into t_coupon_grant (
        id, batch_id, coupon_id, tag_id, type_code, cou_num, exp_num, start_time, end_time, cst_code, wx_open_id, `range`, create_time, update_time, create_by,
        update_by, delete_flag
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.batchId,jdbcType=VARCHAR},
            #{item.couponId,jdbcType=VARCHAR},
            #{item.tagId,jdbcType=VARCHAR},
            #{item.typeCode,jdbcType=VARCHAR},
            #{item.couNum,jdbcType=INTEGER},
            #{item.expNum,jdbcType=INTEGER},
            #{item.startTime,jdbcType=VARCHAR},
            #{item.endTime,jdbcType=VARCHAR},
            #{item.cstCode,jdbcType=VARCHAR},
            #{item.wxOpenId,jdbcType=VARCHAR},
            #{item.range,jdbcType=INTEGER},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.updateBy,jdbcType=VARCHAR},
            #{item.deleteFlag,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!-- 更新-->
    <update id="update" parameterType="com.ej.hgj.entity.coupon.CouponGrant" >
        update
        t_coupon_grant
        <set>
            <if test="couponId != null">
                coupon_id = #{couponId,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                is_exp = #{isExp,jdbcType=VARCHAR},
            </if>
            <if test="cstCode != null">
                cst_code = #{cstCode,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id=#{id,jdbcType=VARCHAR}
    </update>

    <!-- 删除-->
    <update id="delete" parameterType="java.lang.String" >
        delete from t_coupon_grant where id=#{id}
    </update>

    <!-- 根据券与标签删除-->
    <update id="deleteByBatchId" parameterType="java.lang.String" >
        delete from t_coupon_grant where batch_id=#{batchId}
    </update>

</mapper>
