<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.bill.item.HgjBillItemDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.bill.BillItem">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pro_num" jdbcType="VARCHAR" property="proNum"/>
        <result column="year" jdbcType="VARCHAR" property="year"/>
        <result column="IPItemName" jdbcType="VARCHAR" property="ipItemName"/>
        <result column="priRev" jdbcType="DECIMAL" property="priRev"/>
        <result column="item_code" jdbcType="VARCHAR" property="itemCode"/>
        <result column="item_name" jdbcType="VARCHAR" property="itemName"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, pro_num, item_code, item_name, create_time, update_time, create_by,
        update_by, delete_flag
    </sql>
    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from t_bill_item
        where delete_flag = 0
        <if test="proNum != null">
            and pro_num = #{proNum,jdbcType=VARCHAR}
        </if>
        order by update_time desc
    </select>
</mapper>